@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-pirata-one: 'Pirata One', sans-serif;
}
body{
  background-color: black;
}

::-webkit-scrollbar {
  width: 9px; 
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #fde047; 
  border-radius: 10px; 
}


::-webkit-scrollbar-track {
  background-color: #0f0f0f;
  border-radius: 10px;
}


